#header{
        background-color: aqua;
        padding: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
}
h1{
    color: blue;
    font-weight: bolder;
    font-size: xx-large;
}

.navbar{

    background: #f1f1f1;
  } 

.nav-links{
    display: flex;
    align-items: center;
    background: #fff;
    padding: 20px 15px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  }
  .nav-links li{
    list-style: none;
    margin: 0 12px;
  }
  .nav-links li button{
    position: relative;
    color: #333;
    font-size: 20px;
    font-weight: 500;
    padding: 6px 0;
    text-decoration: none;
  }
  .nav-links li button:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0%;
    background: #34efdf;
    border-radius: 12px;
    transition: all 0.4s ease;
  }
  .nav-links li button:hover:before{
    width: 100%;
  }
  .nav-links li.center button:before{
    left: 50%;
    transform: translateX(-50%);
  }
  .nav-links li.upward button:before{
    width: 100%;
    bottom: -5px;
    opacity: 0;
  }
  .nav-links li.upward button:hover:before{
    bottom: 0px;
    opacity: 1;
  }
  .nav-links li.forward button:before{
    width: 100%;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease;
  }
  .nav-links li.forward button:hover:before{
    transform: scaleX(1);
    transform-origin: left;
  }

  button{
   border: none;
   background-color: white; 
  }
   
  button:hover{
    cursor: pointer;
  }


