#update{
    margin-left: 70px;
    margin-top: 30px;
    color: black;
    padding: 10px;
    background-color: burlywood;
    border-radius: 7px;
    border:none ;
    font-weight: bolder;
}
#update:hover{
    cursor: pointer;
}